In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("C:/Users/MSI/Downloads/archive/Advertising.csv")

In [3]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
df.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [5]:
df.sample()

    Unnamed: 0     TV  Radio  Newspaper  Sales
15          16  195.4   47.7       52.9   22.4

In [6]:
df.sample(4)

     Unnamed: 0     TV  Radio  Newspaper  Sales
166         167   17.9   37.6       21.6    8.0
183         184  287.6   43.0       71.8   26.2
154         155  187.8   21.1        9.5   15.6
148         149   38.0   40.3       11.9   10.9

In [7]:
df.shape

(200, 5)

In [8]:
df.ndim

2

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [10]:
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [11]:
df.isnull()

     Unnamed: 0     TV  Radio  Newspaper  Sales
0         False  False  False      False  False
1         False  False  False      False  False
2         False  False  False      False  False
3         False  False  False      False  False
4         False  False  False      False  False
..          ...    ...    ...        ...    ...
195       False  False  False      False  False
196       False  False  False      False  False
197       False  False  False      False  False
198       False  False  False      False  False
199       False  False  False      False  False

[200 rows x 5 columns]

In [12]:
df.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

In [13]:
df.isnull().sum().sum()

np.int64(0)

In [14]:
df.columns

Index(['Unnamed: 0', 'TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [15]:
df.isnull().any()

Unnamed: 0    False
TV            False
Radio         False
Newspaper     False
Sales         False
dtype: bool

In [16]:
df.nunique()

Unnamed: 0    200
TV            190
Radio         167
Newspaper     172
Sales         121
dtype: int64

In [18]:
df.Sales

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [19]:
df['Sales'].unique()

array([22.1, 10.4,  9.3, 18.5, 12.9,  7.2, 11.8, 13.2,  4.8, 10.6,  8.6,
       17.4,  9.2,  9.7, 19. , 22.4, 12.5, 24.4, 11.3, 14.6, 18. ,  5.6,
       15.5, 12. , 15. , 15.9, 18.9, 10.5, 21.4, 11.9,  9.6,  9.5, 12.8,
       25.4, 14.7, 10.1, 21.5, 16.6, 17.1, 20.7,  8.5, 14.9, 23.2, 14.8,
       11.4, 10.7, 22.6, 21.2, 20.2, 23.7,  5.5, 23.8, 18.4,  8.1, 24.2,
       15.7, 14. , 13.4, 22.3, 18.3, 12.4,  8.8, 11. , 17. ,  8.7,  6.9,
       14.2,  5.3, 12.3, 13.6, 21.7, 15.2, 16. , 16.7, 11.2,  7.3, 19.4,
       22.2, 11.5, 16.9, 11.7, 17.2, 19.2, 19.8, 21.8, 14.1, 12.6, 12.2,
        9.4,  6.6,  7. , 11.6, 19.7, 24.7,  1.6, 12.7,  5.7, 19.6, 10.8,
       20.8, 10.9, 20.1, 10.3, 16.1, 15.6,  3.2, 15.3, 14.4, 13.3,  8. ,
        8.4, 14.5,  7.6, 27. , 26.2, 17.6, 17.3,  6.7,  9.9,  5.9, 25.5])

In [20]:
df['Sales'].nunique()

121

In [21]:
df.loc[3]

Unnamed: 0      4.0
TV            151.5
Radio          41.3
Newspaper      58.5
Sales          18.5
Name: 3, dtype: float64

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
numeric_cols=df.select_dtypes(include=[np.number])

In [26]:
non_numeric_cols=df.select_dtypes(exclude=[np.number])

In [28]:
scaler=StandardScaler()

In [29]:
scaled_numeric_df=scaler.fit_transform(numeric_cols)

In [40]:
# Convert scaled data back into DataFrame
scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)
# Combine scaled numeric and original non-numeric columns (if needed)
final_df = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)
# Show result
print(final_df.head())
# This line should print the shape of `scaled_numeric_df`, not `scaled_data`
print(scaled_numeric_df.shape)  # Correct variable name
print()
print('*' * 60)
# This should print the head of the scaled numeric data
print(scaled_numeric_df.head())  # Correct variable name

         TV     Radio  Newspaper
0  0.969852  0.981522   1.778945
1 -1.197376  1.082808   0.669579
2 -1.516155  1.528463   1.783549
3  0.052050  1.217855   1.286405
4  0.394182 -0.841614   1.281802
(200, 3)

************************************************************
         TV     Radio  Newspaper
0  0.969852  0.981522   1.778945
1 -1.197376  1.082808   0.669579
2 -1.516155  1.528463   1.783549
3  0.052050  1.217855   1.286405
4  0.394182 -0.841614   1.281802

from sklearn.preprocessing import MinMaxScaler

numeric_cols=data.select_dtypes(include=[np.number])

In [41]:
non_numeric_cols=df.select_dtypes(exclude=[np.number])

In [45]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_numeric_data = scaler.fit_transform(numeric_cols)
# Convert the scaled data back into DataFrame
scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)
# Combine the scaled numeric and original non-numeric columns (if needed)
scaled_data = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)
# Show the shape and first few rows
print(scaled_data.shape)
print()
print('*' * 60)
print(scaled_data.head())

(200, 3)

************************************************************
         TV     Radio  Newspaper
0  0.775786  0.762097   0.605981
1  0.148123  0.792339   0.394019
2  0.055800  0.925403   0.606860
3  0.509976  0.832661   0.511873
4  0.609063  0.217742   0.510994